<div class="popup-model bt-radious bb-radious">
    <div class="popup-container">
        <div class="header popup-header bt-radious">
            <span > Group </span> 
            <span class="cls-button">&#215;</span>
        </div>
        <div class="search-bar">
            <select class="select dropdown-selector">
                <option value="Groups">Group</option>
                <option value="Devices">Devices</option>
            </select>
            <input class="input-box" type="text" placeholder="Search by Device Name and Group Name">
        </div>
        <div class="popup-model-content">
            <div class="group-container">
                <i class="fa-sharp fa-solid fa-folder-closed file"></i>
                <div class="group-component">
                    <span>HR Department</span>
                    <span><i class="fa-solid fa-mobile"></i> 0 devices</span>
                </div>

            </div>

        </div>
        <div class="popup-model-footer bb-radious">
            <input type="button" class="footer-select-btn bb-radious bt-radious" value="Select (0)">
        </div>
        
    </div>
</div>

{{yield}}