
<div class="header padding-h">
    <p><a href="#">Groups</a>/ Group&amp;Devices</p>
</div>
<div class="btn-model">
<button class="btn btn-light"> Group</button>
<button class="btn btn-light">Devices</button>
</div>

{{outlet}}