<div class="header paddinh-h">
    <h1 class="heading">pop-up  model</h1>
</div>
<div class="header-cramb padding-h">
    <p><a href="#">Groups</a>/ Group&amp;Devices</p>
</div>
<div class="btn-model">
<button class="btn btn-light"> Group</button>
<button class="btn btn-light">Devices</button>
</div>
{{popup-model}}

{{outlet}}